[submodule "pack/bundle/opt/a.vim"]
	path = pack/bundle/opt/a.vim
	url = https://github.com/vim-scripts/a.vim
	branch = master
[submodule "pack/bundle/start/surround"]
	path = pack/bundle/start/surround
	url = https://github.com/tpope/vim-surround
	branch = master
[submodule "pack/bundle/start/signature"]
	path = pack/bundle/start/signature
	url = https://github.com/kshenoy/vim-signature
	branch = master
[submodule "pack/bundle/start/easymotion"]
	path = pack/bundle/start/easymotion
	url = https://github.com/easymotion/vim-easymotion
	branch = master
[submodule "pack/bundle/start/snippets"]
	path = pack/bundle/start/snippets
	url = https://github.com/honza/vim-snippets
	branch = master
[submodule "pack/bundle/start/ultisnips"]
	path = pack/bundle/start/ultisnips
	url = https://github.com/SirVer/ultisnips
	branch = master
[submodule "pack/bundle/start/tmux-navigator"]
	path = pack/bundle/start/tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
	branch = master
[submodule "pack/bundle/start/fugitive"]
	path = pack/bundle/start/fugitive
	url = https://github.com/tpope/vim-fugitive
	branch = master
[submodule "pack/bundle/start/gitgutter"]
	path = pack/bundle/start/gitgutter
	url = https://github.com/airblade/vim-gitgutter
	branch = master
[submodule "pack/bundle/start/undotree"]
	path = pack/bundle/start/undotree
	url = https://github.com/mbbill/undotree
	branch = master
[submodule "pack/bundle/start/vim-repeat"]
	path = pack/bundle/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
	branch = master
[submodule "pack/bundle/start/auto-pairs"]
	path = pack/bundle/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
	branch = master
[submodule "pack/bundle/start/VimCompletesMe"]
	path = pack/bundle/start/VimCompletesMe
	url = https://github.com/ajh17/VimCompletesMe
	branch = master
[submodule "pack/bundle/start/gutentags"]
	path = pack/bundle/start/gutentags
	url = https://github.com/ludovicchabant/vim-gutentags
	branch = master
[submodule "pack/bundle/start/neomake-autolint"]
	path = pack/bundle/start/neomake-autolint
	url = https://github.com/dojoteef/neomake-autolint
	branch = master
[submodule "pack/bundle/start/neomake"]
	path = pack/bundle/start/neomake
	url = https://github.com/neomake/neomake
	branch = master
[submodule "pack/bundle/start/vimproc"]
	path = pack/bundle/start/vimproc
	url = https://github.com/Shougo/vimproc.vim
	branch = master
[submodule "pack/bundle/opt/vebugger"]
	path = pack/bundle/opt/vebugger
	url = https://github.com/idanarye/vim-vebugger/
	branch = master
